@import url('autofill-colors.css');
@import url('file-button.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

.fc-button {
    text-transform: capitalize !important;
}

@media screen and (max-width: 1050px) {
    .fc-timeGridWeek-button, .fc-dayGridMonth-button, .fc-listWeek-button, .fc-today-button {
        display: none !important;
    }

    .fc-toolbar-title {
        font-size: 1.5em !important;
    }
}

